<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:utext="#{view.title}">德邦工时打卡</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/view.css}" href="../../META-INF/resources/view.css"/>
</head>
<body role="document">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:utext="#{view.navbar.project_name}" href="#">德邦工时打卡</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${current eq 'home'} ? 'active'" class="active">
                    <a th:href="@{/home}" th:utext="#{view.navbar.home}">首页</a>
                </li>
                <li sec:authorize="hasRole('USER')" th:class="${current eq 'schedule'} ? 'dropdown active': 'dropdown'" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span th:utext="#{view.navbar.sched}">计划</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/sched(dateStr=${sameMonth})}" th:text="#{view.navbar.same_month}">当月</a></li>
                        <li><a th:href="@{/sched(dateStr=${nextMonth})}" th:text="#{view.navbar.next_month}">次月</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ADMIN')" th:class="${current eq 'admin'} ? 'active'">
                    <a th:href="@{/admin}" th:utext="#{view.navbar.admin}">管理</a>
                </li>
                <li th:class="${current eq 'about'} ? 'active'">
                    <a th:href="@{/about}" th:utext="#{view.navbar.about}">关于</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a sec:authentication="name">张三</a></li>
                <li sec:authorize="hasRole('ACTUATOR')"><a target="_blank" th:href="@{/h2-console}">H2 Console</a></li>
                <li sec:authorize="hasRole('ACTUATOR')"><a target="_blank" th:href="@{/logfile}" th:text="#{view.navbar.view_log}">查看日志</a></li>
                <li sec:authorize="hasRole('ACTUATOR')">
                    <form id="shutdown" th:action="@{/shutdown}" method="post"></form>
                    <a href="javascript:$('#shutdown').submit()">Shutdown</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span th:utext="#{view.navbar.language}">语言</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/home(locale=en_US)}">English (United States)</a></li>
                        <li><a th:href="@{/home(locale=zh_CN)}">中文 (中国)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" role="main">





    <div th:fragment="home" class="jumbotron">
        <h1 th:utext="#{view.home.title}">欢迎使用！</h1>
        <p th:utext="#{view.home.content}">德邦打卡系统是一款实现了考勤自动打卡功能的产品，支持简单的定制化，让你无需每天为了考勤而烦心，专心工作！</p>
        <p><a target="_blank" href="https://github.com/chenghm123/dpwc" class="btn btn-default btn-lg" role="button" th:utext="#{view.home.button}">获取源码 »</a></p>
    </div>





</div>
<div th:utext="#{view.footer}" class="footer">
    <p>德邦打卡项目由<a target="_blank" href="http://projects.spring.io/spring-boot/">spring-boot</a>框架，通过<a target="_blank" href="http://blog.csdn.net/chenghm123">@风依然自在</a>开发。</p>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script th:src="@{/view.js}" src="../../META-INF/resources/view.js"></script>
</body>
</html>