<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:utext="#{view.title}">德邦工时打卡</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/view.css}" href="../META-INF/resources/view.css"/>
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:utext="#{view.navbar.project_name}" href="#">德邦工时打卡</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${current eq 'home'} ? 'active'" class="active">
                    <a th:href="@{/home}" th:utext="#{view.navbar.home}">首页</a>
                </li>
                <li th:class="${current eq 'schedule'} ? 'active'">
                    <a th:href="@{/schedule}" th:utext="#{view.navbar.schedule}">计划表</a>
                </li>
                <li th:class="${current eq 'about'} ? 'active'">
                    <a th:href="@{/about}" th:utext="#{view.navbar.about}">关于</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a sec:authentication="name">张三</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/h2-console}">H2 Console</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span th:utext="#{view.navbar.language}">语言</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/home(locale=en_US)}">English (United States)</a></li>
                        <li><a th:href="@{/home(locale=zh_CN)}">中文 (中国)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" role="main">
    <div th:if="${current eq 'home'}" class="jumbotron">
        <h1 th:utext="#{view.home.title}">欢迎使用！</h1>
        <p th:utext="#{view.home.content}">德邦打卡系统是一款实现了考勤自动打卡功能的产品，支持简单的定制化，让你无需每天为了考勤而烦心，专心工作！</p>
        <p><a th:utext="#{view.home.button}" href="https://github.com/chenghm123/dpwc" target="_blank" class="btn btn-default btn-lg" role="button">了解更多 »</a></p>
    </div>
    <div th:if="${current eq 'schedule'}" class="jumbotron row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th th:utext="#{view.schedule.date}">日期</th>
                    <th th:utext="#{view.schedule.type}">类型</th>
                    <th th:utext="#{view.schedule.oper}">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clock, iterStat : ${clocks}" th:if="${iterStat.count lt 13}">
                    <td th:text="${#dates.format(clock.id.date, 'MM-dd EEE')}">09-30 星期五</td>
                    <td>
                        <form th:action="@{/schedule}" action="#" method="post" role="form">
                            <input name="date" type="hidden" th:value="${#dates.format(clock.id.date, 'yyyy-MM-dd')}"/>
                            <select name="type" class="form-control input-sm type-select">
                                <option th:utext="#{view.schedule.clock.type.none}" th:selected="${clock.type eq -1}" style="color: red;" value="-1">不打卡</option>
                                <option th:utext="#{view.schedule.clock.type.in}" th:selected="${clock.type eq 0}" style="color: orange;" value="0">上班卡</option>
                                <option th:utext="#{view.schedule.clock.type.out}" th:selected="${clock.type eq 1}" style="color: orchid;" value="1">下班卡</option>
                                <option th:utext="#{view.schedule.clock.type.all}" th:selected="${clock.type eq 2}" style="color: black;" value="2">全天卡</option>
                            </select>
                        </form>
                    </td>
                    <td><input type="submit" class="btn btn-default btn-sm" th:value="#{view.schedule.update}"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th th:utext="#{view.schedule.date}">日期</th>
                    <th th:utext="#{view.schedule.type}">类型</th>
                    <th th:utext="#{view.schedule.oper}">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clock, iterStat : ${clocks}" th:if="${iterStat.count gt 12 and iterStat.count lt 25}">
                    <td th:text="${#dates.format(clock.id.date, 'MM-dd EEE')}">09-30 星期五</td>
                    <td>
                        <form th:action="@{/schedule}" action="#" method="post" role="form">
                            <input name="date" type="hidden"
                                   th:value="${#dates.format(clock.id.date, 'yyyy-MM-dd')}"/>
                            <select name="type" class="form-control input-sm type-select">
                                <option th:utext="#{view.schedule.clock.type.none}" th:selected="${clock.type eq -1}" style="color: red;" value="-1">不打卡</option>
                                <option th:utext="#{view.schedule.clock.type.in}" th:selected="${clock.type eq 0}" style="color: orange;" value="0">上班卡</option>
                                <option th:utext="#{view.schedule.clock.type.out}" th:selected="${clock.type eq 1}" style="color: orchid;" value="1">下班卡</option>
                                <option th:utext="#{view.schedule.clock.type.all}" th:selected="${clock.type eq 2}" style="color: black;" value="2">全天卡</option>
                            </select>
                        </form>
                    </td>
                    <td><input type="submit" class="btn btn-default btn-sm" th:value="#{view.schedule.update}"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th th:utext="#{view.schedule.date}">日期</th>
                    <th th:utext="#{view.schedule.type}">类型</th>
                    <th th:utext="#{view.schedule.oper}">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="clock, iterStat : ${clocks}" th:if="${iterStat.count gt 24}">
                    <td th:text="${#dates.format(clock.id.date, 'MM-dd EEE')}">09-30 星期五</td>
                    <td>
                        <form th:action="@{/schedule}" action="#" method="post" role="form">
                            <input name="date" type="hidden" th:value="${#dates.format(clock.id.date, 'yyyy-MM-dd')}"/>
                            <select name="type" class="form-control input-sm type-select">
                                <option th:utext="#{view.schedule.clock.type.none}" th:selected="${clock.type eq -1}" style="color: red;" value="-1">不打卡</option>
                                <option th:utext="#{view.schedule.clock.type.in}" th:selected="${clock.type eq 0}" style="color: orange;" value="0">上班卡</option>
                                <option th:utext="#{view.schedule.clock.type.out}" th:selected="${clock.type eq 1}" style="color: orchid;" value="1">下班卡</option>
                                <option th:utext="#{view.schedule.clock.type.all}" th:selected="${clock.type eq 2}" style="color: black;" value="2">全天卡</option>
                            </select>
                        </form>
                    </td>
                    <td><input type="submit" class="btn btn-default btn-sm" th:value="#{view.schedule.update}"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:if="${current eq 'about'}" class="jumbotron">
        <h1 th:utext="#{view.about.title1}">功能太少，这里我实在没东西放了。</h1>
        <h2 th:utext="#{view.about.title2}">有兴趣可以加微信：chenghm123。</h2>
    </div>
</div>
<div th:utext="#{view.footer}" class="footer">
    <p>德邦打卡项目由<a href="http://projects.spring.io/spring-boot/" target="_blank">spring-boot</a>框架，通过<a href="http://blog.csdn.net/chenghm123" target="_blank">@风依然自在</a>开发。</p>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script th:src="@{/view.js}" src="../META-INF/resources/view.js"></script>
</body>
</html>